@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-lato text-slate-gray bg-off-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat;
  }
}